@model OMS_Template.ViewModels.AutoManual.AutoManualViewModel
@{
    Layout = null;
}


<form asp-action="AutoManual" enctype="multipart/form-data" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label>Enter PPSeqNo</label>
        <input asp-for="PPSeqNo" type="number" min="0" class="form-control" placeholder="Set Break Point" id="IdppSeqNo">
        <span asp-validation-for="PPSeqNo" class="text-danger"></span>
    </div>

    <div class="col-md-6" style="    display: inline-block;    align-self: flex-end;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsAutoMode" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Auto/Manual
            </label>
        </div>


    </div>
    <div class="col-md-12 modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info p-2" style="float:right;" value="Submit" id="btt" />
    </div>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


</form><!-- End No Labels Form -->



<script type="text/javascript">
    $(document).ready(function () {

       $('#flexCheckDefault').click(function(){
                if ($(this).is(':checked')) {
                     $('#IdppSeqNo').prop('disabled', false);
                } else {
                    
                     $('#IdppSeqNo').val(0);
                    $('#IdppSeqNo').prop('disabled', true);
                }
            });
    });
</script>