@model OMS_Template.ViewModels.ErrorViewModel

<div class="alert alert-danger" role="alert">
    <h1>An error occurred while processing your request.</h1>
</div>
<div>
    <h3>RequestId :-@Model.RequestId</h3> 
    <h3>Error Details:-@Model.ErrorMessage</h3>
</div>